body {
  font-family: 'Oswald', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

header hr {
  width: 100px;
  margin: auto;
  border-radius: 5px;
  border-color: #3f51b5;
  border-width: 7px;
}

header a {
  text-decoration: none;
}
#showcase {
  padding-top: 100px;
  padding-bottom: 100px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.showcaseButton {
  padding-top: 15px;
  text-align: center;
}
button {
  outline: none;
}
.showcaseHeading {
  font-size: 40px;
  padding: 10px;
}

.showcaseSubheading {
  font-size: 25px;
  padding: 10px;
}

.filling {
  padding: 10px;
  font-size: 20px;
}
.menuButton {
  padding: 7px 2px 2px 2px;
}
.menuButton button {
  width: 100%;
  font-weight: bold;

}
#about {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
strong {
  font-size: 20px;
}
.aboutText {
  max-width: 800px;
}
/* ШИРИНА ОКОН */
#menu {
  max-width: 900px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#about {
  max-width: 2350px;
}
