body {
  font-family: "Oswald", "Trebuchet MS Black", "Trebuchet MS", "sans-serif";
  margin: 0 auto;
  padding: 0;
}

header {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: repeat-x;
  text-align: center;
}

header hr {
  width: 100px;
  margin: auto;
  border-radius: 5px;
  border-color: #3f51b5;
  border-width: 7px;
}
 button {
   outline: none;
 }
header a {
  text-decoration: none;
}
#showcase {
  padding-top: 115px;
  padding-bottom: 115px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.showcaseButton {
  padding-top: 15px;
  text-align: center;
}

.showcaseHeading {
  font-size: 40px;
  padding: 10px;
}

.showcaseSubheading {
  font-size: 25px;
  padding: 10px;
}

.filling {
  padding: 10px;
  font-size: 20px;
}
.menuButton {
  padding: 7px 2px 2px 2px;
}
.menuButton button {
  width: 100%;
  font-weight: bold;
}
#about {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
strong {
  font-size: 20px;
}
.aboutText {
  max-width: 800px;
}
.aboutText p {
  font-size: 18px;
}
footer {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #222222;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-transform: uppercase;
}
footer a {
  padding: 0 15px 0 15px;
}


@media (max-width: 2300px) {
  body {
    max-width: 2350px;
  }
  #menu {
    max-width: 900px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #about {
    max-width: 2350px;
  }
}
@media (min-width: 2300px) {
  body {
    max-width: 2350px;
  }
}
