body {
  margin: 0;
  padding: 0;
}
header {
  padding-bottom: 35px;
  background-color: #222222;
}
.headingText {
  font-weight: bold;
  color: white;
  font-size: 35px;
  text-align: center;
  padding: 25px 0 5px 0;
  font-family: 'Oswald', Arial, sans-serif;
}
.settings {
  max-width: 200px;
}
.container {
  padding: 0 5px 0 5px;
}
.theory {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  max-width: 950px;
}
.heading1 {
  font-size: 25px;
  font-family: 'Oswald', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-top: 40px;
  margin-bottom: -15px;
}
.heading1st {
  font-size: 25px;
  font-family: 'Oswald', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
  margin-bottom: -15px;
}
.heading2 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 35px;
  padding-bottom: 5px;
}
.text {
  text-align: justify;
}
.menuImage {
  width: 70px;
  margin: 0 1px 0 1px;
}
.settingsMenuMobile {
  text-align: center;
}
.tableStripes {
  background-color: #eeeeee;
}
footer {
  padding: 30px;
  background-color: #222222;
  text-align: center;
  color: white;
}
.non-justify {
  text-align: left !important;
}
footer {
  font-size: 10px;
  font-family: 'Oswald', Arial, sans-serif;
}
.iconAuthor {
  display: none;
}
footer span {
  cursor: pointer;
  padding: 10px;
}
.settingsMenuMobile img {
  cursor: pointer;
}
